/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
  width: 100%;
  height: 100%;
}

/*
Reset Above
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.wrapper {
  width: 100%;
  height: 100%;
  /*background: red;*/
  padding: 20px;

  display: flex;
}

/*
Aside
*/

aside {
  width: 25%;
  height: 100%;
  padding: 10px;

  display: flex;
  flex-direction: column;
}

.tweet-col-left {
  margin: 0 14px 0 10px;

  display: flex;
  align-items: center;
}

.tweet-col-right {
	width: 100%;
}
.avatar-container {
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.avatar {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	margin-bottom: 10px;
	background: skyblue;

  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar i {
	color: white;
	font-size: 50px;
	margin-bottom: 6px;
}

.avatar.intweet {
	width: 50px;
	height: 50px;
	margin-bottom: 0px;
}

.avatar.intweet i {
	font-size: 25px;
} 


#handle {
	font-family: "Helvetica";
	font-size: 16px;
	margin-bottom: 10px;
	/*margin: 10px;*/
}
/*
MAIN
*/


main {
  padding: 10px;
  width: 75%;
  height: 100%;
}

.tweet-container {
    border: 1px solid #eeeeee;
    margin-bottom: 10px;
    padding: 10px;

	display:flex;
}

.tweet-container:last-child {
    margin-bottom: 0px;
}

button {
	font-family: "Helvetica";
	margin: 10px;
	font-size: 16px;
}

.tweet, #tweet-user {
	font-family: "Helvetica";
	font-size: 14px;
}

.tweetCountCont {
  width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

#tweetCounter {
	margin: 10px;
}

#tweet-user {
	font-weight: bold;
	cursor: pointer;
	color: skyblue;
	margin: 4px;
}

#date {
	font-family: "Helvetica";
	font-size: 12px;
	margin: 4px;
}

.tweet {
	margin: 8px 8px 8px 4px;
	font-size: 16px;
}